<AuthorizeView>
    <Authorized>
        <NavLink class="btn btn-dark top-line-buttons mt-2 mx-2 justify-content-between align-items-center" href="Identity/Account/Manage"><span class="oi oi-cog"></span> <span class="text-end">Profile Settings</span></NavLink>
        <NavLink href="logout" class="btn btn-danger top-line-buttons my-2 mx-2 justify-content-between align-items-center"><span class="oi oi-power-standby"></span><span class="text-end">Logout</span></NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink class="btn btn-primary top-line-buttons mt-2 mx-2 justify-content-between align-items-center" href="register"><span class="oi oi-person"></span><span class="text-end">Register</span></NavLink>
        <NavLink class="btn btn-success top-line-buttons my-2 mx-2 justify-content-between align-items-center" href="login"><span class="oi oi-account-login"></span><span class="text-end">Login</span></NavLink>
    </NotAuthorized>
</AuthorizeView>