<AuthorizeView>
    <Authorized>
                <NavLink class="btn btn-outline-dark top-line-buttons" href="Identity/Account/Manage"><span class="oi oi-cog"></span></NavLink>
                <NavLink href="logout" class="btn btn-outline-danger top-line-buttons"><span class="oi oi-power-standby"></span></NavLink>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="register">Register</a>
        <a class="btn btn-success" href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>